<div class="{{styles.profile_main}}">
    <img src="{{domain}}/user/avatar/{{id}}?{{random}}" width="400" height="400" class="{{styles.profile__default_margin}} {{styles.profile__image}}">
    <span class="{{styles.profile__default_margin}} {{styles.profile_login}}">{{Login}}</span>
    <div class="{{styles.profile__default_margin}} {{styles.profile_settings}}">
        {{#if isProfile}}
            {{{button}}}
        {{else}}
            {{#if isAuth}}
                {{#if isSub}}
                    {{{buttonUnsub}}}
                {{else}}
                    {{{buttonSub}}}
                {{/if}}
            {{/if}}
        {{/if}}
    </div>
</div>

{{#if isProfile}}
    <div class="{{styles.profile_nav}}">
        <div class="{{styles.profile_nav_links}}">
            <a href="/default" class="{{styles.profile_nav_links_aBig}}" id="play">Плэйлисты</a>
            <a href="/default" class="{{styles.profile_nav_links_a}}" id="subscribe">Подписки</a>
            <a href="/default" class="{{styles.profile_nav_links_a}}" id="lenta">Лента</a>
        </div>
        <hr class="{{styles.profile_nav_line}}">
    </div>
{{/if}}
