<div class="profile_main">
    <img src="{{domain}}/user/avatar/{{id}}?{{random}}" width="400" height="400" class="profile__default_margin profile__image">
    <span class="profile__default_margin profile_login">{{Login}}</span>
    <div class="profile__default_margin profile_settings">
        {{{button}}}
    </div>
</div>

<div class="profile_nav">
    <div class="profile_nav_links">
        <a href="/default" class="profile_nav_links_aBig" id="play">Плэйлисты</a>
        <a href="/default" class="profile_nav_links_a" id="subscribe">Подписки</a>
        <a href="/default" class="profile_nav_links_a" id="history">История комментариев</a>
        <a href="/default" class="profile_nav_links_a" id="history_watch">История просмотров</a>
    </div>
    <hr class="profile_nav_line">
</div>
