<div class="lenta__object">
    <a href="#" class="href" id="{{ title }}"><img width="270" height="420" src="{{ image }}" alt="" class="object__image">
        <div class="object__hidden"><span>{{ genre }}, {{ year }} год</span></div>
    </a>
    <div class="image__text"> {{ title }} </div>
</div>