<div class="lenta__object">
    <a href="film/{{ id }}" class="href" id="{{ id }}"><img width="270" height="420" src="{{ SmallImg }}" alt="" class="object__image">
        <div class="object__hidden"><span>{{ MainGenre }}, {{ year }} год</span></div>
    </a>

    {{#if playlist}}
        <div class="poster_delete">
            {{{del}}}
        </div>
    {{/if}}
    <div class="image__text"> {{ title }} </div>
</div>
