{{#each friends}}
    <div class="friendList_width">
        <div class="friendList_container">
            <div>
                <img src="{{this.domain}}/api/user/avatar/{{this.id}}" width="200" height="200" class="friendlist__default_margin friendlist__image">
                <a class="friendList_login" href="people/{{this.id}}">{{this.login}}</a>
            </div>
            <div>{{{del}}}</div>
        </div>
        <hr class="friendList_line">
    </div>
{{/each}}
