{{#each friends}}
    <div class="{{../this.styles.friendList_width}}">
        <div class="{{../this.styles.friendList_container}}">
            <div>
                <img src="{{this.domain}}/api/user/avatar/{{this.id}}" width="200" height="200" class="{{../this.styles.friendlist__default_margin}} {{../this.styles.friendlist__image}}">
                <a class="{{../this.styles.friendList_login}}" href="people/{{this.id}}">{{this.login}}</a>
            </div>
            <div>{{{del}}}</div>
        </div>
        <hr class="{{../this.styles.friendList_line}}">
    </div>
{{/each}}
