{{#if isAuth}}
    <h1 class="myComment__header">Ваш отзыв</h1>
    <div class="myComment__underground">
        <form>
            <textarea name="message" rows="1" class="question" required="" autocomplete="off" id="msg"></textarea>
            <label class="comment" for="msg"><span class="comment">Напишите отзыв..</span></label>
        </form>
        {{{ Button }}}
    </div>
{{/if}}
{{#if noComments}}
    <h1 class="myComment__header">Нет отзывов</h1>
{{else}}
    <h1 class="myComment__header">Все отзывы</h1>
    {{#each comments}}
        <div class="myComment__underground">
            <a class="profile__comment" href="">
                <span class="login__comment">{{ this.UserLogin }}</span>
                <img class="profile__round" width="50" height="50" src="https://dota-blog.ru/wp-content/uploads/2020/01/480220190515091129.jpg" alt="">
            </a>
            <div class="comment__content">
                {{ this.TextBody }}
            </div>
            <hr class="myLine">
            <span class="comment__rate">Оценка: {{ this.Rate }}/10</span>
        </div>
    {{/each}}
{{/if}}
