<div class="comments_place">
    {{#if isAuth}}
        <div>
            <h1 class="comments__header">Ваш комментарий</h1>
            <div class="comments__underground">
                <form>
                    <textarea name="message" rows="1" class="question" required="" autocomplete="off" id="msg"></textarea>
                    <label class="comment" for="msg"><span class="comment">Напишите комментарий</span></label>
                </form>
                {{{ Button }}}
            </div>
        </div>
    {{/if}}
    {{#if noComments}}
        <h1 class="comments__header">Нет комментариев</h1>
    {{else}}
        <div>
        <h1 class="comments__header">Все комментарии</h1>
            <div class="comment_allComments">
                {{#each comments}}
                    <div class="comments__underground2">
                        <div class="comment__profile">
                            <span class="comment__login">{{ this.UserLogin }}</span>
                            <img class="comment__profile__round" width="50" height="50" src="{{ this.Image }}" alt="">
                        </div>
                        <div class="comment__content">
                            {{ this.TextBody }}
                        </div>
                        <hr class="comment__line">
                        <span class="comment__rate">Оценка: {{ this.Rate }}/10</span>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}
</div>
<div class="invisible_box"></div>
