<div class="filmCard_main">
    <div>
        <span class="filmCard_titleRate__title">{{ title }}</span>
    </div>
</div>

<div class="filmCard_secondary">
    <div class="filmCard_info_header">Информация</div>
    <div class="filmCard_info">
        <div class="filmCard_info_info">
            <div class="filmCard_info_info_genre">
                {{#each genres}}
                    <a href="genre/{{this.genre}}" class="link"> {{ this.rusGenre }} </a>
                {{/each}}
            </div>
            <div class="filmCard_info_info_genre">
                {{#each countries}}
                    {{ this }}
                {{/each}}
            </div>
            <div class="filmCard_info__rate">
                <span class="filmCard_info__rate">Рейтинг: {{ rate }}</span>
                <span class="filmCard_info__votes">{{ votes }} голосов</span>
            </div>
        </div>
        <div class="filmCard_info__description">{{ description }} </div>
    </div>
    <div class="filmCard_info_more">
        <div class="filmCard_info_header">Трейлер</div>
        <div class="filmCard_info_header_roles">В ролях</div>
    </div>
    <div class="filmCard_info_more">
        <div><iframe width="560" height="315" src="{{ youtube }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="filmCard_roles">
            {{#each actors}}
                <div class="filmcard_roles_link"><a href="person/{{ this.Id }}" class="link">{{ this.Name }} </a></div>
            {{/each}}
        </div>
    </div>
    {{#if isAuth}}
    <div class="filmCard_info_header">Оценить</div>
        <div class="rating-area">
            {{#each stars}}
                <input type="radio" id="star-{{this}}" name="rating" value="{{this}}">
                <label for="star-{{this}}" title="Оценка «{{this}}»"></label>
            {{/each}}
        </div>
        {{{ Button }}}
    {{/if}}

</div>
