<div class="poster">
    <div class="header">
        <a href="#" class="header-link">
            <b>{{ title }}</b>
        </a>
    </div>
    <div class="poster-body">
        <div class="left-block">
                <iframe width="560" height="315" src="{{ youtube }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div> <span class="rating">Рейтинг: {{ rate }}</span><span class="votes">{{ votes }} голосов</span></div>
            {{{ Button }}}
            <a>⭐ ⭐ ⭐ ⭐ ⭐ ⭐ ⭐ ⭐ ⭐ ⭐</a>
        </div>
        <div class="right-block">
            <div class="desc">
                {{ description }}
            </div>
            <div class="desc info">
                <div>
                    <b>Жанр:</b>
                    {{#each genres}}
                        <a href="#" class="link"> {{ this }} </a>
                    {{/each}}
                </div>
                <div class="roles">
                    <b>В ролях:</b>
                    {{#each actors}}
                        <a href="#" class="link">{{ this }} </a>
                    {{/each}}
                </div>
                {{#each countries}}
                    {{ this }},
                {{/each}}
            </div>
        </div>
    </div>
</div>