{{#if success}}
    <div class="{{styles.notificationSuccess}}">
        <span class="{{styles.text}}">{{body}}</span>
    </div>
{{else}}
    <div class="{{styles.notificationFail}}">
        <span class="{{styles.text}}">{{body}}</span>
    </div>
{{/if}}
