<div class="{{styles.search_container}}">
    <input type="text" name="search" placeholder="Поиск.." class="{{styles.search}}" id="search">
    <div class="{{styles.search_diap}}">
        <span class="{{styles.search_nav_links_aBig}}" id="all">Все</span>
        <span class="{{styles.search_nav_links_a}}" id="people">Люди</span>
        <span class="{{styles.search_nav_links_a}}" id="films">Фильмы</span>
        <span class="{{styles.search_nav_links_a}}" id="actors">Актёры</span>
    </div>
</div>
<div id="content"></div>
