<div class="{{styles.personLenta_main__header}}">
    <div class="{{styles.personLenta_genre}}">Актеры</div>
</div>

<div class="{{styles.personLenta_header__lenta}}">
    {{#each persons}}
        <div class="{{../this.styles.personLenta__object}}">
            <a href="person/{{ this.id }}" class="{{../this.styles.personLenta_href}}" id="{{ id }}"><img width="270" height="420" src="{{ this.image }}" alt="" class="{{../this.styles.personLenta_object__image}}">
            </a>
            <div class="{{../this.styles.personLenta_image__text}}"> {{ this.name }} </div>
        </div>
    {{/each}}
    <hr class="{{styles.personLenta_lenta_line}}">
</div>
