<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../Actor.css">
    <title>Title</title>
</head>
<body>
<div class="{{styles.actor__main}}">
    <div>
        <img src="{{Image}}" class="{{styles.person__image}}">
    </div>
    <div class="{{styles.person__info}}">
        <div class="{{styles.person__name}}">
            {{Name}}
        </div>
        <div class="{{styles.person__info__more}}">
            <span class="{{styles.person__headers}}">Дата рождения:</span>{{BornDate}}
        </div>
        <div class="{{styles.person__info__more}}">
            <span class="{{styles.person__headers}}">Место рождения:</span>{{BornPlace}}
        </div>
    </div>
</div>
</body>
</html>
