<div class="{{ styles.menuFilm_container }}">
    <div class="{{ styles.menuFilm_titleContainer }}">
        <span class="{{ styles.menuFilm_title }}">{{ body.title }}</span>
        <span class="{{styles.menuFilm_description}}">{{body.description}}</span>
        <span class="{{styles.menuFilm_rate}}">{{body.rating}}/10</span>
        <div class="{{styles.menuFilm_button}}"> {{{button}}} </div>
    </div>
</div>
