<div class="{{styles.main__header}}">
    <div class="{{styles.filmlenta_genre}}">{{ genre }}</div>
    {{#if playlist}}
        {{{del}}}
    {{/if}}
</div>
<div class="{{styles.header__lenta}}">
    {{#each posters}}
        {{{ this }}}
    {{/each}}
    {{#if playlist}}
        {{{posterNew}}}
    {{/if}}
    <hr class="{{styles.lenta_line}}">
</div>
